<div class="container-fluid p-5">
  <div class="d-flex align-items-center">
    <div class="row">
      <div class="col-md-6 left">
        <h1 class="main_h">Welcome To The NFC Survey Portal</h1>
        <p class="main_d">
          This is an online portal for conducting survays with NFC local
          students and faculity members.You must need to sign-up / sign-in for
          starting the survey.
        </p>
        <button
          routerLink="/user/fill-survey"
          class="btn btn-success mx-3 mt-3 survey_btn"
          type="submit"
        >
          Fill Survey
        </button>
      </div>
      <div class="col-md-6 right">
        <img width="90%" src="assets/showsvg.svg" alt="" />
      </div>
    </div>
  </div>
</div>
